$color-primary-100: #f8f8fb;
$color-primary-300: #ebf7fc;
$color-primary-500: #00b5e6;
$color-primary-700: #009de0;
$color-primary-900: #162e61;
$color-white: #ffffff;
$color-black: #080f1e;
$color-success: #65c665;
$color-danger: #d95353;

$font-family-primary: "Inter";

$breakpoint-mobile: 679px;
$breakpoint-tablet: 1199px;

body {
  font-family: $font-family-primary;
  background-color: $color-primary-100;
}

.text {
  &--h1 {
    font-size: 1.75rem;
    font-weight: 700;
  }
  &--h2 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  &--sh1 {
    font-size: 1rem;
    font-weight: 400;
  }
  &--b1 {
    font-size: 1rem;
    font-weight: 500;
  }
  &--b2 {
    font-size: 0.875rem;
    font-weight: 500;
  }
  &--btn {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.button {
  &--primary {
    @extend .text--btn;
    color: $color-primary-100;
    background-color: $color-primary-700;
    border-radius: 40px;
    height: 45px;
    display: grid;
    place-content: center;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-900;
      transition: all 0.2s ease-in-out;
    }
  }
  &--secondary {
    color: $color-primary-500;
    cursor: pointer;

    &:hover {
      color: $color-primary-900;
      transition: all 0.2s ease-in-out;
    }
  }
}

.main-container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;

  @media (min-width: $breakpoint-tablet) {
    padding: 40px 40px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 50px 0px;
  }
}

.title {
  &__wrapper {
    display: grid;
    gap: 20px;
    align-items: start;
  }
}

.calculator {
  &__card-wrapper {
    padding-top: 36px;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: 7fr 6fr;
    }

    &--left {
      background-color: $color-primary-500;
      border-radius: 10px 10px 0px 0px;
      padding: 40px 50px 40px 50px;

      @media (min-width: $breakpoint-tablet) {
        border-radius: 10px 0px 0px 10px;
      }
    }

    &--right {
      background-color: $color-white;
      border-radius: 0px 0px 10px 10px;
      padding: 40px 50px 40px 50px;

      @media (min-width: $breakpoint-tablet) {
        border-radius: 0px 10px 10px 0px;
      }
    }
  }

  &__form-wrapper {
    display: grid;
    gap: 16px;
    padding-bottom: 36px;
  }

  &__summary-wrapper {
    display: grid;
    gap: 24px;
  }

  &__summary {
    &--list {
      display: grid;
      grid-template-columns: 1fr 100px;

      .price {
        text-align: end;
      }

      .detail {
        padding-top: 12px;
      }
    }

    &--line {
      display: grid;
      width: 100%;
      height: 1px;
      background-color: $color-primary-700;
    }
  }
}

.input {
  &__wrapper {
    display: grid;

    label {
      @extend .text--b2;
      color: $color-white;
      padding-bottom: 4px;
      span {
        color: $color-danger;
      }
    }

    input {
      @extend .text--b1;
      height: 45px;
      border-radius: 40px;
      border: 1px solid $color-primary-700;
      padding: 0px 20px;
      width: calc(100% - 40px);
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    input[type="datetime-local"] {
      @extend .text--b1;
      font-family: $font-family-primary;
      font-weight: 400;

      &::-webkit-calendar-picker-indicator {
        filter: invert(40%) sepia(80%) saturate(1907%) hue-rotate(170deg)
          brightness(98%) contrast(101%);
      }
    }
  }

  &--amount-of-item {
    position: relative;

    input {
      text-align: center;
    }
  }

  &__symbol {
    &--currency {
      position: relative;
      z-index: 2;

      &:before {
        content: "€";
        font-size: 20px;
        color: $color-primary-700;
        position: absolute;
        top: 25%;
        right: 20px;
        z-index: 2;
      }
    }
    &--distance {
      position: relative;
      z-index: 2;

      &:before {
        content: "m";
        font-size: 20px;
        color: $color-primary-700;
        position: absolute;
        top: 25%;
        right: 20px;
        z-index: 2;
      }
    }
  }

  &__button {
    &--increase {
      font-size: 24px;
      color: $color-primary-700;
      position: absolute;
      top: 18%;
      right: 20px;
      z-index: 2;
      cursor: pointer;
    }

    &--decrease {
      font-size: 24px;
      color: $color-primary-700;
      position: absolute;
      top: 18%;
      left: 20px;
      z-index: 2;
      cursor: pointer;
    }
  }
}
